.posts-catalog__wrapper {
  text-align: center;
  padding: 2rem;
  background-color: #e3e3e3;
}

.posts-catalog__post-number-wrapper {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.posts-catalog__post-number {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.ant-card-body {
  min-height: 260px;
  text-align: start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.posts-catalog__button-wrapper {
  display: flex;
  justify-content: end;
  gap: 6px;
  align-items: baseline;
}


/*.posts-catalog__list {*/
/*  display: flex;*/
/*  flex-wrap: wrap;*/
/*  gap: 6px;*/
/*}*/

/*.posts-catalog_single-post {*/
/*  list-style-type: none;*/
/*  width: 25%;*/
/*  min-height: 350px;*/
/*  padding: 10px;*/
/*}*/


